img {
  width: 30px;
  height: 30px;
  float: left;
}
// .div {
//   // display: inline-block;
//   // overflow: hidden;
//   position: absolute;
//   background-color: green;
// }
.div1 {
  margin-bottom: 50px;
  background-color: red;
}
.div2 {
  margin-top: 50px;
  background-color: green;
}
